*.sub
dataset/
logs/
attention_maps/
.DS_Store
bcos_gpt2/
bcos_gpt2_results/
bcos_gpt2_epoch/
bcos_gpt2_epoch_results/
vanilla_gpt2_results/
vanilla_gpt2_epoch/
vanilla_gpt2_epoch_results
*.pyc
wandb/
token_counts/
